.detail {
  margin-top: 35px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__snapshot {
    width: 54%;
    margin-right: 10px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,.08);
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__content {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  &__info {
    margin-bottom: 25px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__subtitle {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__link {
    color: #fff;
    height: 28px;
    padding: 4px 16px;
    font-size: 14px;
    line-height: 28px;
    background-color: #ffa043;
    border-radius: 50px;
    &:hover {
      color: #fff;
    }
  }
  &__code {
    background: rgb(238, 238, 238);
    color: #666;
    padding: 10px;
    line-height: 1.5;
    margin-top: 10px;
    white-space: normal;
  }
  &__desc {
    color: #666;
    font-size: 16px;
    line-height: 1;
  }
}
@media screen and (max-width: 1200px){
  .detail{
    &__snapshot {
      width: 100%;
      margin: 0 20px;
    }
    &__content {
      width: 100%;
    }
  }
}