.banner {
  height: 380px;
  color: #fff;
  text-align: center;
  background: #ffa043 url("https://img14.360buyimg.com/imagetools/jfs/t1/91342/12/12694/35049/5e4e848cE735a27bf/7d2b351847d0c74e.png") no-repeat center;
  &__inner {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 42px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 30px;
    font-weight: normal;
  }
}
